.mobile-tab-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }
  
  .mobile-tab-background {
    background-color: #f7fafc;
    width: 500px;
    min-height: 800px; 
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2d3748;
    margin: 0px 0px 10px 0px;
    border-radius: 25px;
  }
  
  .mobile-tab-card {
    font-family: 'LowballNeue-SemiBold', sans-serif;
    font-size: 24px !important; 
    width: 450px;
    z-index: 2;

  }
  

  
  .mobile-tab-text-container {
    margin-top: -300px; 
    width: 450px;
    color: #f7fafc;
    z-index: 2;
  }
  
  .mobile-tab-text-container ul {
    list-style: none !important;
  }

  #mobile-data-list-id-1-whole,  #mobile-data-list-id-1-text {
    position: relative;
    top: 17px;
  }
  #mobile-data-list-id-2-text{
    position: relative;
    top: 8px;
  }
  #mobile-data-list-id-3-whole{
    position: relative;
    top: 130px;
  }
  #mobile-data-list-id-3-shadow{
    margin: 1px 0px;
  }

  #mobile-data-list-id-4-whole, #mobile-data-list-id-5-whole{
    position: relative;
    top: 50px;
  }
  #mobile-data-list-id-4-text, #mobile-data-list-id-5-text {
    position: relative;
    top: 15px;
  }
  .mobile-text-shadow {
    display: inline-block;
    background-color: #2d3748;
    color: #f7fafc;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 0px 0px;

  }
  
  #mobile-tab-button-footer{
    width: 50%;
    color: #f7fafc;
  }
  .mobile-tab-controler-container {
    margin-top: -90px; 
    width: 450px;
    z-index: 3;
  }
  
  .mobile-tab-controler-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mobile-tab-controler-buttons {
    width: 145px;
    height: 45px;
    margin: 0 3%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'LowballNeue-SemiBold';
    font-size: 20px;
    background-color: #2d3748;
    border: none;
    border-radius: 50px;
    color: #f7fafc;
  }
  .mobile-tab-controler-buttons:hover{
    cursor: pointer;
    background-color: #2b6cb0 ;
  }
@media screen and (max-width: 600px) {
  .mobile-tab-container{
    scale: .95;
  }
}
@media screen and (max-width: 500px) {
  .mobile-tab-container{
    scale: .70;
  }
}
@media screen and (max-width: 375px) {
  .mobile-tab-container{
    scale: .60;
  }
}