.planet{
    position:absolute;
    width: 100%;
    margin: auto; /* Center the div if needed */
    height: 120vh; /* Example height - adjust as necessary */
    top: -350px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

}
.planet :active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing
}
canvas{
    height: 100%;
    background-color: transparent;
}